In [9]:
import pandas as pd
import numpy as np

In [39]:
num_of_evaluators = 2
num_of_criteria = 15
criteria = ['C11','C21','C22','C23', 'C31', 'C32', 'C33', 'C34', 'C41', 'C42', 'C51', 'C52', 'C53',' C61', 'C62']
num_of_candidates = 10

In [22]:
path_first_eval = '../g-edas-matrix-results-v.xlsx'
results_eval_frst_df = pd.read_excel(path_first_eval, header=0)
results_eval_frst_df = results_eval_frst_df.fillna(0)
results_eval_frst_df = results_eval_frst_df.drop(results_eval_frst_df.columns[[0]], axis=1)
results_eval_frst_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,0,1,2,4,5,4,3,0,5,1,0,5,5,5,5
1,1,2,3,3,5,4,3,6,0,1,1,5,5,5,5
2,2,2,1,5,4,3,6,2,2,3,3,4,2,5,1
3,5,3,3,3,3,4,4,5,2,2,4,4,0,1,5
4,0,3,5,0,3,0,6,4,5,0,3,3,4,5,1
5,5,2,3,5,3,3,6,6,4,1,5,0,4,5,1
6,2,2,5,5,1,6,3,3,3,5,5,5,5,5,1
7,5,2,1,3,6,0,2,3,3,5,0,5,0,5,5
8,6,3,3,5,1,3,3,4,5,5,2,2,1,5,5
9,0,2,5,5,0,5,4,4,5,5,5,5,5,5,5

In [21]:
path_second_eval = '../g-edas-matrix-results-s.xlsx'
results_eval_scnd_df = pd.read_excel(path_second_eval, header=0)
results_eval_scnd_df = results_eval_scnd_df.fillna(0)
results_eval_scnd_df = results_eval_scnd_df.drop(results_eval_scnd_df.columns[[0]], axis=1)
results_eval_scnd_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,0,1,2,4,5,4,3,0,5,1,0,5,5,5,5
1,1,2,3,3,5,4,3,6,0,1,1,5,5,5,5
2,2,3,1,1,4,2,1,2,2,1,5,4,3,2,1
3,5,3,4,2,4,1,2,5,3,3,3,3,4,4,5
4,0,5,3,5,2,4,2,4,3,5,0,3,0,2,1
5,5,3,2,3,5,2,3,6,2,3,5,3,3,6,1
6,2,5,4,5,1,1,2,3,2,5,5,1,6,3,1
7,5,4,4,4,5,4,6,3,2,1,3,6,0,2,5
8,6,3,3,5,1,5,3,4,5,5,2,2,2,5,5
9,0,2,5,5,0,2,4,4,5,5,5,5,5,5,5

In [19]:
ling_scale = ['Veoma lose', 'Lose', 'Srednje lose', 'Prosecno', 'Srednje dobro', 'Dobro', 'Veoma dobro']
grey_nums = [[0, 1], [1, 3], [3, 4], [4, 5], [5, 6], [6, 9], [9, 10]]
scale = {'Linguistic Scale': ling_scale, 'Value': [i for i in range(7)], 'Grey Numbers': grey_nums}
scale_df = pd.DataFrame(data=scale)
scale_df

  Linguistic Scale  Value Grey Numbers
0       Veoma lose      0       [0, 1]
1             Lose      1       [1, 3]
2     Srednje lose      2       [3, 4]
3         Prosecno      3       [4, 5]
4    Srednje dobro      4       [5, 6]
5            Dobro      5       [6, 9]
6      Veoma dobro      6      [9, 10]

In [47]:
def print_grey_num(grey_num):
    return '[ ' + str(grey_num[0]) + ', ' + str(grey_num[1]) + ' ]'
                
def print_matrix(matrix):
    matrix_dim = matrix.shape[0]
    for i in range(matrix_dim):
        for j in range(matrix_dim):
            print(print_grey_num(matrix[i,j,:]), end =" ")
        print("\n")
        
def get_str_matrix_of_grey_nums(matrix):
    str_matrix = [[] for i in range(matrix.shape[0])]
    
    for i in range(matrix.shape[0]):
        for j in range(matrix.shape[1]):
            grey_num = matrix[i,j]
            str_matrix[i].append(print_grey_num(grey_num))
            
    return str_matrix

In [31]:
def get_grey_num_for_value(df, row_ind, col_ind):
    value = df.iloc[row_ind,col_ind]
    grey_num_for_value = grey_nums[value]
    return np.array(grey_num_for_value)

In [52]:
# replace values with grey nums; get g-edas matrix

edas_matrix = np.zeros((num_of_candidates, num_of_criteria, 2), dtype=float)

for i in range(num_of_candidates):
    for j in range(num_of_criteria):
        frst_grey_num = get_grey_num_for_value(results_eval_frst_df, i, j)
        scnd_grey_num = get_grey_num_for_value(results_eval_scnd_df, i, j)
        edas_matrix[i,j] = (frst_grey_num + scnd_grey_num) / 2
        
edas_matrix = np.around(edas_matrix, 3)

In [53]:
# initial decision-making matrix

str_matrix = get_str_matrix_of_grey_nums(edas_matrix)
str_matrix_df = pd.DataFrame(str_matrix, columns = criteria)
str_matrix_df

,C11,C21,C22,C23,C31,C32,C33,C34,C41,C42,C51,C52,C53,C61,C62
0,"[ 0.0, 1.0 ]","[ 1.0, 3.0 ]","[ 3.0, 4.0 ]","[ 5.0, 6.0 ]","[ 6.0, 9.0 ]","[ 5.0, 6.0 ]","[ 4.0, 5.0 ]","[ 0.0, 1.0 ]","[ 6.0, 9.0 ]","[ 1.0, 3.0 ]","[ 0.0, 1.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]"
1,"[ 1.0, 3.0 ]","[ 3.0, 4.0 ]","[ 4.0, 5.0 ]","[ 4.0, 5.0 ]","[ 6.0, 9.0 ]","[ 5.0, 6.0 ]","[ 4.0, 5.0 ]","[ 9.0, 10.0 ]","[ 0.0, 1.0 ]","[ 1.0, 3.0 ]","[ 1.0, 3.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]"
2,"[ 3.0, 4.0 ]","[ 3.5, 4.5 ]","[ 1.0, 3.0 ]","[ 3.5, 6.0 ]","[ 5.0, 6.0 ]","[ 3.5, 4.5 ]","[ 5.0, 6.5 ]","[ 3.0, 4.0 ]","[ 3.0, 4.0 ]","[ 2.5, 4.0 ]","[ 5.0, 7.0 ]","[ 5.0, 6.0 ]","[ 3.5, 4.5 ]","[ 4.5, 6.5 ]","[ 1.0, 3.0 ]"
3,"[ 6.0, 9.0 ]","[ 4.0, 5.0 ]","[ 4.5, 5.5 ]","[ 3.5, 4.5 ]","[ 4.5, 5.5 ]","[ 3.0, 4.5 ]","[ 4.0, 5.0 ]","[ 6.0, 9.0 ]","[ 3.5, 4.5 ]","[ 3.5, 4.5 ]","[ 4.5, 5.5 ]","[ 4.5, 5.5 ]","[ 2.5, 3.5 ]","[ 3.0, 4.5 ]","[ 6.0, 9.0 ]"
4,"[ 0.0, 1.0 ]","[ 5.0, 7.0 ]","[ 5.0, 7.0 ]","[ 3.0, 5.0 ]","[ 3.5, 4.5 ]","[ 2.5, 3.5 ]","[ 6.0, 7.0 ]","[ 5.0, 6.0 ]","[ 5.0, 7.0 ]","[ 3.0, 5.0 ]","[ 2.0, 3.0 ]","[ 4.0, 5.0 ]","[ 2.5, 3.5 ]","[ 4.5, 6.5 ]","[ 1.0, 3.0 ]"
5,"[ 6.0, 9.0 ]","[ 3.5, 4.5 ]","[ 3.5, 4.5 ]","[ 5.0, 7.0 ]","[ 5.0, 7.0 ]","[ 3.5, 4.5 ]","[ 6.5, 7.5 ]","[ 9.0, 10.0 ]","[ 4.0, 5.0 ]","[ 2.5, 4.0 ]","[ 6.0, 9.0 ]","[ 2.0, 3.0 ]","[ 4.5, 5.5 ]","[ 7.5, 9.5 ]","[ 1.0, 3.0 ]"
6,"[ 3.0, 4.0 ]","[ 4.5, 6.5 ]","[ 5.5, 7.5 ]","[ 6.0, 9.0 ]","[ 1.0, 3.0 ]","[ 5.0, 6.5 ]","[ 3.5, 4.5 ]","[ 4.0, 5.0 ]","[ 3.5, 4.5 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 3.5, 6.0 ]","[ 7.5, 9.5 ]","[ 5.0, 7.0 ]","[ 1.0, 3.0 ]"
7,"[ 6.0, 9.0 ]","[ 4.0, 5.0 ]","[ 3.0, 4.5 ]","[ 4.5, 5.5 ]","[ 7.5, 9.5 ]","[ 2.5, 3.5 ]","[ 6.0, 7.0 ]","[ 4.0, 5.0 ]","[ 3.5, 4.5 ]","[ 3.5, 6.0 ]","[ 2.0, 3.0 ]","[ 7.5, 9.5 ]","[ 0.0, 1.0 ]","[ 4.5, 6.5 ]","[ 6.0, 9.0 ]"
8,"[ 9.0, 10.0 ]","[ 4.0, 5.0 ]","[ 4.0, 5.0 ]","[ 6.0, 9.0 ]","[ 1.0, 3.0 ]","[ 5.0, 7.0 ]","[ 4.0, 5.0 ]","[ 5.0, 6.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 3.0, 4.0 ]","[ 3.0, 4.0 ]","[ 2.0, 3.5 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]"
9,"[ 0.0, 1.0 ]","[ 3.0, 4.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 0.0, 1.0 ]","[ 4.5, 6.5 ]","[ 5.0, 6.0 ]","[ 5.0, 6.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]","[ 6.0, 9.0 ]"

In [ ]:
# grey average solution according to all criteria